* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 127px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header {
  max-width: 850px;
  margin-left: 40px;
  margin-bottom: 60px;
}

.header h1 {
  margin-bottom: 50px;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -0.8%;
  color: #7884a5;
  -webkit-text-stroke: 1px #000000;
}

.header p {
  font-size: 24px;
  line-height: 32px;
  color: #292e3d;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 60px;
    line-height: 58px;
  }

  .header p {
    font-size: 20px;
    line-height: 28px;
  }
}
